[Desktop Entry]
Type=Application
Name=starsland
Comment=A new Flutter project.
Icon=com.example.starsland
Exec=/usr/bin/com.example.starsland
X-Nemo-Application-Type=silica-qt5

[X-Application]
Permissions=
OrganizationName=com.example
ApplicationName=starsland
